@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&family=Mulish:wght@300&display=swap');

/* General styles */

:root {
    --text-color: rgb(80, 79, 79);
    --primary-accent-color: rgb(243, 116, 31);
    --secondary-accent-color: rgb(38, 243, 31);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Magra', sans-serif;
    font-weight: 700;
}

/* Logo and nav menu */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .4rem 1.2rem;
    gap: 3rem;
}

header a {
    text-decoration: none;
}

#logo {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--text-color);
    letter-spacing: .18rem;   
}

#logo span:first-child {
    font-size: 2.5rem;
    color: var(--primary-accent-color);
}

#logo span:last-child {
    font-size: 2.5rem;
    color: var(--secondary-accent-color);
}

#menu {
    display: flex;
    gap: 3rem;
    list-style: none;
    font-size: 1.4rem; 
}

#menu a {
    color: var(--text-color); 
}

#menu a:hover {
    border-bottom: 2px solid var(--secondary-accent-color);
}

.active {
    border-bottom: 2px solid var(--primary-accent-color);
}

#menu .active:hover {
    border-bottom: 2px solid var(--primary-accent-color);
}

/* hero section */

.hero-section {
    height: 37rem;
    width: 100%;
    overflow: hidden; 
}

.hero-image {
    max-height: 37rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom right;
    border: .4rem solid var(--secondary-accent-color);
    border-radius: .5rem;

}

.cover-text {
    width: 20rem;
    height: 5rem;
    background-color: rgba(243, 116, 31, 0.7);
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 0);
    text-align: center;
    
}

.cover-text h2 {
    font-size: 2rem;
    letter-spacing: .1rem;
    color: #fff;
}

.cover-text h3 {
    font-size: 1.5rem;
    color: #fff;
}

.cover-text span {
    font-size: 2.5rem;
}

/* places section */

.places {
    margin: 1rem 2rem;
}

.places h2 {
    text-align: center;
}

.sub-heading {
    font-size: 3rem;
    letter-spacing: 4.rem;
}

.heading-box-row {
    display: flex;
    gap: 3rem;
    padding: 1.5rem;
    align-items: center;
}

.box-sub-heading {
    font-size: 2rem;
    letter-spacing: 0.4rem;
}

.heading-box-row .links-box-row i {
    font-size: 1.2rem;
    color: var(--primary-accent-color);
    margin-right: 1rem;
    transition: transform .4s ease;
}

.heading-box-row .links-box-row a {
    font-size: 0.9rem;
    text-decoration: underline;
    color: var(--text-color);
}

.links-box-row a i:hover {
    color: var(--secondary-accent-color);
    transform: rotate(180deg);
}

.links-box-row a:hover {
    color: var(--primary-accent-color);
}

.icons-box-row {
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.icon-box {
    display: flex;
    gap: 1rem;
}



/* media queries */

@media screen and (max-width: 950px) {
    #logo {
        font-size: 1.5rem;
        letter-spacing: .18rem;   
    }
    
    #logo span:first-child {
        font-size: 2rem;
    }
    
    #logo span:last-child {
        font-size: 2rem;
    }
    
    #menu {
        gap: 2rem;
        font-size: 1.2rem; 
    }
}

@media screen and (max-width: 750px) {
    header {
        flex-direction: column;
        gap: 1rem;
    }
}

@media screen and (max-width: 550px) {
    #menu {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .cover-text {
        width: 18rem;
        height: 4rem;
        top: 50%;
    }

    .cover-text h2 {
        font-size: 1.5rem;
    }
    
    .cover-text h3 {
        font-size: 1rem;
    }
    
    .cover-text span {
        font-size: 2rem;
    }
}