@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&family=Mulish:wght@300&display=swap');

/* General styles */

:root {
    --text-color: rgb(80, 79, 79);
    --primary-accent-color: rgb(243, 116, 31);
    --secondary-accent-color: rgb(38, 243, 31);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Magra', sans-serif;
    font-weight: 700;
}