@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&family=Mulish:wght@300&display=swap');

/* General styles */

:root {
    --text-color: rgb(80, 79, 79);
    --primary-accent-color: rgb(243, 116, 31);
    --secondary-accent-color: rgb(22, 212, 16);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Magra', sans-serif;
    font-weight: 700;
}

/* Logo and nav menu */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .4rem 1.2rem;
    gap: 3rem;
}

header a {
    text-decoration: none;
}

#logo {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--text-color);
    letter-spacing: .18rem;   
}

#logo span:first-child {
    font-size: 2.5rem;
    color: var(--primary-accent-color);
}

#logo span:last-child {
    font-size: 2.5rem;
    color: var(--secondary-accent-color);
}

#menu {
    display: flex;
    gap: 3rem;
    list-style: none;
    font-size: 1.4rem; 
}

#menu a {
    color: var(--text-color); 
}

#menu a:hover {
    border-bottom: 2px solid var(--secondary-accent-color);
}

.active {
    border-bottom: 2px solid var(--primary-accent-color);
}

#menu .active:hover {
    border-bottom: 2px solid var(--primary-accent-color);
}

/* hero section */

.hero-section {
    height: 37rem;
    width: 100%;
    overflow: hidden; 
}

.hero-image {
    max-height: 37rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: .4rem solid var(--secondary-accent-color);
    border-radius: .5rem;

}

.cover-text {
    width: 20rem;
    height: 5rem;
    background-color: rgba(243, 116, 31, 0.7);
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 0);
    text-align: center;
    
}

.cover-text h2 {
    font-size: 2rem;
    letter-spacing: .1rem;
    color: #fff;
}

.cover-text h3 {
    font-size: 1.5rem;
    color: #fff;
}

.cover-text span {
    font-size: 2.5rem;
}

/* places section */

.places {
    margin: 1rem 2rem;
}

.places h2 {
    text-align: center;
}

.sub-heading {
    font-size: 2.5rem;
    letter-spacing: 4.rem;
    margin-bottom: 1rem;
}

.heading-box-row {
    display: flex;
    gap: 2rem;
    padding: 0rem 1rem;
    align-items: center;
}

.box-sub-heading {
    font-size: 2rem;
    letter-spacing: 0.4rem;
    padding: .5rem;
}

.box-sub-heading:hover {
    border: .2rem solid var(--primary-accent-color);
    border-radius: .5rem;
}

.heading-box-row .links-box-row i {
    font-size: 1.2rem;
    color: var(--primary-accent-color);
    margin-right: 1rem;
    transition: transform .4s ease;
}

.heading-box-row .links-box-row a {
    font-size: 0.9rem;
    text-decoration: underline;
    color: var(--text-color);
    
}

.links-box-row a i:hover {
    color: var(--secondary-accent-color);
    transform: rotate(180deg);
}

.links-box-row a:hover {
    color: var(--primary-accent-color);
}

/* special rules for heading-box-row and links-box-row in second place-box  */

.reversed {
    flex-direction: row-reverse;
}

.links-box-row .fa-circle-arrow-right {
    margin-left: 1rem;
}

.icons-box-row {
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.icon-box {
    display: flex;
    gap: 1rem;
}

.icons-box-row .icon-box:nth-child(even):hover {
    color: var(--secondary-accent-color);
}

.icons-box-row .icon-box:nth-child(odd):hover {
    color: var(--primary-accent-color);
}

.images-box {
    margin: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
}

.image-box {
    height: 20rem;
    width: 100%;
    overflow: hidden;
}

.image-box h4 {
    color: var(--primary-accent-color);
}

.image-box a {
    text-decoration: none;
}

.image-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* special rules for individual pictures */
.image-center-top {
    object-position: center top;
}

.image-box img:hover {
    transform: scale(1.1);
}

/* footer */

footer {
    margin-top: 5rem;
    text-align: center;
    border-top: .4rem solid var(--secondary-accent-color);
    border-radius: .5rem;
}

footer h2 {
    font-size: 2.5rem;
    letter-spacing: 4.rem;
    margin: 1rem 0;
}

footer p {
    font-size: 1.5rem;
}

.social-links {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 2rem;
}

.social-links a {
    color: var(--text-color);
    font-size: 2.5rem;
}

.social-links a:hover {
    color: var(--primary-accent-color);
}

.social-links a:active {
    color: var(--secondary-accent-color);
}

/* attractions, parks, museums pageg */

.main-heading-row {
    padding-top: 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    border-top: .4rem solid var(--secondary-accent-color);
}

.main-heading-row h2 {
    font-size: 2.5rem;
    letter-spacing: .4rem;
}

.main-heading-row i {
    font-size: 2rem;
}

.main-heading-row i:nth-child(1):hover {
    color: var(--primary-accent-color);
}

.main-heading-row i:nth-child(3):hover {
    color: var(--secondary-accent-color);
}

.content-box {
    margin: 1.5rem;
}

.content-heading-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;   
}

/* special rules to the second article */
.right-side {
    flex-direction: row-reverse;
}

.content-heading {
    font-size: 2rem;
}

.content-heading:hover {
    border: .2rem solid var(--primary-accent-color);
    border-radius: .5rem;
}

.content-heading-links {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.content-heading-links a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
}

.content-heading-links a:hover {
    color: var(--primary-accent-color);
}

.content-heading-links a:active {
    color: var(--secondary-accent-color);
}

.content-heading-links small {
    font-size: 0.8rem; 
}

.content-heading-links small:hover {
    color: var(--primary-accent-color);
}

.content-box-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.content-box-left-side {
    flex: 0 1 40%;
    justify-content: flex-start;
}

.right-align { 
    text-align: end;
    align-items: end;
}

.content-main-text {
    font-size: 1.2rem;
    padding: 1rem 0;
}

.content-links {
    margin-bottom: 1rem;
}

.content-links p {
    color: var(--primary-accent-color);
}

.content-links a {
    color: var(--text-color);
}

.content-links a:hover {
    color: var(--primary-accent-color);
}

.content-links a:active {
    color: var(--secondary-accent-color);
}

.official-link i {
    padding-right: 1rem;
}

.address {
    margin-bottom: 2rem;
}

.address span {
    color: var(--secondary-accent-color);
}

.frame-box {
    border: .2rem solid var(--secondary-accent-color);
    border-radius: .5rem;
    width: 400px;
    height: 300px;
    margin-bottom: 1rem;
    display: inline-block;
}

.frame-box iframe {
    width: 100%;
    height: 100%;
}

.content-box-right-side {
    flex: 1 1 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: .2rem;
}

.content-images-box {
    height: 15rem;
    overflow: hidden;
    border-radius: .5rem;  
}

.content-images-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* feedback page */

.feedback-section {
    height: 37rem;
    width: 100%;
    overflow: hidden; 
}

.feedback-image {
    max-height: 37rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: .4rem solid var(--secondary-accent-color);
    border-radius: .5rem;
}

#feedback-footer {
    margin-top: 0;
    border-top: none;
}

/* media queries */

@media screen and (max-width: 1180px) {
    /* attractions page */
    .content-box-right-side {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
}

@media screen and (max-width: 1000px) {
    /* attractions page */
    .content-box-right-side {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }

    .content-images-box {
        height: 15rem;
    }

}

@media screen and (max-width: 950px) {
    /* index page */
    #logo {
        font-size: 1.5rem;
        letter-spacing: .18rem;   
    }
    
    #logo span:first-child {
        font-size: 2rem;
    }
    
    #logo span:last-child {
        font-size: 2rem;
    }
    
    #menu {
        gap: 2rem;
        font-size: 1.2rem; 
    }
}

@media screen and (max-width: 850px) {
    /* attractions page */

    .content-box-container {
        flex-direction: column;
        gap: 2rem;
    }


    .content-box-right-side {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
    
    .content-images-box {
        height: 20rem;
    }

    .frame-box {
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width: 750px) {
    /* index page */
    header {
        flex-direction: column;
        gap: 1rem;
    }

    .hero-section {
        height: 100%; 
    }

    .sub-heading {
        font-size: 1.8rem;
    }
    
    .box-sub-heading {
        font-size: 1.5rem;
        letter-spacing: 0.4rem;
    }

    .icons-box-row {
        display: none;
    }
    
    .heading-box-row, .reversed {
        flex-direction: column;
        gap: 0;
    }

    footer {
        margin-top: 3rem;
    }

    footer h2 {
        font-size: 1.8rem;
    }
    
    footer p {
        font-size: 1rem;
    }

    .social-links a {
        font-size: 1.5rem;
    }

    /* attractions page */
    .content-heading-links small {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    /* index page */
    #menu {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .cover-text {
        width: 18rem;
        height: 4rem;
        top: 50%;
    }

    .cover-text h2 {
        font-size: 1.5rem;
    }
    
    .cover-text h3 {
        font-size: 1rem;
    }
    
    .cover-text span {
        font-size: 2rem;
    }

    .links-box-row {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    /* index page */
    .images-box {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
    /* attractions page */
    .main-heading-row i {
        font-size: 1.5rem;
    }

    .main-heading-row h2 {
        font-size: 2rem;
        letter-spacing: unset;
    }

    .content-heading {
        font-size: 1.2rem;
    }

    .content-main-text {
        font-size: 1rem;
    }

    .content-box-right-side {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
}

